In [66]:
import os
import glob
import pandas as pd
os.chdir("citibike_data")

In [67]:
# Path to csv files.
extension = 'csv'
all_filenames = [i for i in glob.glob('*.{}'.format(extension))]

In [68]:
#combine all files in the list
combined_csv = pd.concat([pd.read_csv(f) for f in all_filenames ])
#export to csv
combined_csv.to_csv( "combined_csv.csv", index=False, encoding='utf-8-sig')

EmptyDataError: No columns to parse from file

In [69]:
print(df)

         Unnamed: 0  tripduration            starttime             stoptime  \
0                 0         949.0  2014-03-01 00:00:16  2014-03-01 00:16:05
1                 1         533.0  2014-03-01 00:00:57  2014-03-01 00:09:50
2                 2         122.0  2014-03-01 00:01:06  2014-03-01 00:03:08
3                 3         134.0  2014-03-01 00:01:14  2014-03-01 00:03:28
4                 4         997.0  2014-03-01 00:01:18  2014-03-01 00:17:55
...             ...           ...                  ...                  ...
4514396     4514396        1213.0  2014-03-11 07:57:12  2014-03-11 08:17:25
4514397     4514397         902.0  2014-03-11 07:57:16  2014-03-11 08:12:18
4514398     4514398         340.0  2014-03-11 07:57:20  2014-03-11 08:03:00
4514399     4514399         208.0  2014-03-11 07:57:22  2014-03-11 08:00:50
4514400     4514400         212.0  2014-03-11 07:57:27  2014-03-11 08:00:59

         start station id             start station name  \
0                   317.0              E 6 St & Avenue B
1                   457.0             Broadway & W 58 St
2                   146.0           Hudson St & Reade St
3                   146.0           Hudson St & Reade St
4                   150.0              E 2 St & Avenue C
...                   ...                            ...
4514396             282.0             Kent Ave & S 11 St
4514397             358.0  Christopher St & Greenwich St
4514398             254.0                W 11 St & 6 Ave
4514399             358.0  Christopher St & Greenwich St
4514400             483.0                E 12 St & 3 Ave

         start station latitude  start station longitude  end station id  \
0                     40.724537               -73.981854           284.0
1                     40.766953               -73.981693           441.0
2                     40.716250               -74.009106           276.0
3                     40.716250               -74.009106           276.0
4                     40.720874               -73.980858           461.0
...                         ...                      ...             ...
4514396               40.708273               -73.968341           531.0
4514397               40.732916               -74.007114           447.0
4514398               40.735324               -73.998004           300.0
4514399               40.732916               -74.007114           336.0
4514400               40.732233               -73.988900           345.0

                    end station name  ...  ended_at  start_station_name  \
0              Greenwich Ave & 8 Ave  ...       NaN                 NaN
1                    E 52 St & 2 Ave  ...       NaN                 NaN
2            Duane St & Greenwich St  ...       NaN                 NaN
3            Duane St & Greenwich St  ...       NaN                 NaN
4                    E 20 St & 2 Ave  ...       NaN                 NaN
...                              ...  ...       ...                 ...
4514396       Forsyth St & Broome St  ...       NaN                 NaN
4514397              8 Ave & W 52 St  ...       NaN                 NaN
4514398       Shevchenko Pl & E 6 St  ...       NaN                 NaN
4514399  Sullivan St & Washington Sq  ...       NaN                 NaN
4514400              W 13 St & 6 Ave  ...       NaN                 NaN

         start_station_id end_station_name end_station_id  start_lat  \
0                     NaN              NaN            NaN        NaN
1                     NaN              NaN            NaN        NaN
2                     NaN              NaN            NaN        NaN
3                     NaN              NaN            NaN        NaN
4                     NaN              NaN            NaN        NaN
...                   ...              ...            ...        ...
4514396               NaN              NaN            NaN        NaN
4514397               NaN              NaN            NaN        NaN
4514398               NaN              NaN            NaN        NaN
4514399               NaN              NaN            NaN        NaN
4514400               NaN              NaN            NaN        NaN

        start_lng  end_lat end_lng member_casual
0             NaN      NaN     NaN           NaN
1             NaN      NaN     NaN           NaN
2             NaN      NaN     NaN           NaN
3             NaN      NaN     NaN           NaN
4             NaN      NaN     NaN           NaN
...           ...      ...     ...           ...
4514396       NaN      NaN     NaN           NaN
4514397       NaN      NaN     NaN           NaN
4514398       NaN      NaN     NaN           NaN
4514399       NaN      NaN     NaN           NaN
4514400       NaN      NaN     NaN           NaN

[4514401 rows x 35 columns]

In [70]:
df.columns

Index(['Unnamed: 0', 'tripduration', 'starttime', 'stoptime',
       'start station id', 'start station name', 'start station latitude',
       'start station longitude', 'end station id', 'end station name',
       'end station latitude', 'end station longitude', 'bikeid', 'usertype',
       'birth year', 'gender', 'month', 'Unnamed: 0.1', 'Year', 'Month',
       'Date', 'Time_Hr', 'ride_id', 'rideable_type', 'started_at', 'ended_at',
       'start_station_name', 'start_station_id', 'end_station_name',
       'end_station_id', 'start_lat', 'start_lng', 'end_lat', 'end_lng',
       'member_casual'],
      dtype='object')

In [71]:
df.head()

,Unnamed: 0,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,...,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
0,0,949.0,2014-03-01 00:00:16,2014-03-01 00:16:05,317.0,E 6 St & Avenue B,40.724537,-73.981854,284.0,Greenwich Ave & 8 Ave,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,533.0,2014-03-01 00:00:57,2014-03-01 00:09:50,457.0,Broadway & W 58 St,40.766953,-73.981693,441.0,E 52 St & 2 Ave,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2,122.0,2014-03-01 00:01:06,2014-03-01 00:03:08,146.0,Hudson St & Reade St,40.716250,-74.009106,276.0,Duane St & Greenwich St,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3,134.0,2014-03-01 00:01:14,2014-03-01 00:03:28,146.0,Hudson St & Reade St,40.716250,-74.009106,276.0,Duane St & Greenwich St,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,4,997.0,2014-03-01 00:01:18,2014-03-01 00:17:55,150.0,E 2 St & Avenue C,40.720874,-73.980858,461.0,E 20 St & 2 Ave,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [72]:
df['Year'] = df["stoptime"].str[:4]
df['Month'] = df['stoptime'].str[5:7]
df['Date'] = df["stoptime"].str[:10]
df['Time_Hr'] = df["stoptime"].str[11:13]
df.head()

,Unnamed: 0,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,...,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
0,0,949.0,2014-03-01 00:00:16,2014-03-01 00:16:05,317.0,E 6 St & Avenue B,40.724537,-73.981854,284.0,Greenwich Ave & 8 Ave,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,533.0,2014-03-01 00:00:57,2014-03-01 00:09:50,457.0,Broadway & W 58 St,40.766953,-73.981693,441.0,E 52 St & 2 Ave,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2,122.0,2014-03-01 00:01:06,2014-03-01 00:03:08,146.0,Hudson St & Reade St,40.716250,-74.009106,276.0,Duane St & Greenwich St,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3,134.0,2014-03-01 00:01:14,2014-03-01 00:03:28,146.0,Hudson St & Reade St,40.716250,-74.009106,276.0,Duane St & Greenwich St,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,4,997.0,2014-03-01 00:01:18,2014-03-01 00:17:55,150.0,E 2 St & Avenue C,40.720874,-73.980858,461.0,E 20 St & 2 Ave,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [73]:
df.columns

Index(['Unnamed: 0', 'tripduration', 'starttime', 'stoptime',
       'start station id', 'start station name', 'start station latitude',
       'start station longitude', 'end station id', 'end station name',
       'end station latitude', 'end station longitude', 'bikeid', 'usertype',
       'birth year', 'gender', 'month', 'Unnamed: 0.1', 'Year', 'Month',
       'Date', 'Time_Hr', 'ride_id', 'rideable_type', 'started_at', 'ended_at',
       'start_station_name', 'start_station_id', 'end_station_name',
       'end_station_id', 'start_lat', 'start_lng', 'end_lat', 'end_lng',
       'member_casual'],
      dtype='object')

In [74]:
concatenated_df.to_csv("data_merged.csv")

NameError: name 'concatenated_df' is not defined